In [36]:
import json
from shapely.geometry import shape, GeometryCollection, Point
import pandas as pd

In [37]:
!ls

exploratory-analysis-1.ipynb

In [38]:
with open("../data/neighbourhoods.geojson", "r") as f:
    js = json.load(f)

js.keys()

dict_keys(['type', 'features'])

In [39]:
listing_df = pd.read_csv("../data/listings.csv")
listing_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1944,cafeheaven Pberg/Mitte,2164,Lulah,Mitte,Brunnenstr. Nord,52.54425,13.39749,Private room,21,60,18,2018-11-11,0.24,1,251
1,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.53500,13.41758,Entire home/apt,90,62,145,2019-06-27,1.14,1,344
2,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.49885,13.34906,Private room,28,7,27,2019-05-31,0.35,1,317
3,6883,Stylish East Side Loft in Center with AC & 2 b...,16149,Steffen,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.51171,13.45477,Entire home/apt,125,3,128,2019-10-21,1.08,1,20
4,7071,BrightRoom with sunny greenview!,17391,BrightRoom,Pankow,Helmholtzplatz,52.54316,13.41509,Private room,33,3,266,2019-11-09,2.13,2,30

In [40]:
for col in listing_df.columns:
    print(col)

id
name
host_id
host_name
neighbourhood_group
neighbourhood
latitude
longitude
room_type
price
minimum_nights
number_of_reviews
last_review
reviews_per_month
calculated_host_listings_count
availability_365

In [41]:
num_rows = 5
sample = listing_df.head(num_rows)

In [42]:


for ix in range(5):
    lat, long, n = sample[["latitude", "longitude", "neighbourhood"]].iloc[ix]
    p = Point(long, lat)
    for neighbourhood in js["features"]:
        polygon = shape(neighbourhood["geometry"])
        if polygon.contains(p):
            print("found neighbourhood!")
            print(n)
            print(neighbourhood["properties"])

found neighbourhood!
Brunnenstr. Nord
{'neighbourhood': 'Brunnenstr. Nord', 'neighbourhood_group': 'Mitte'}
found neighbourhood!
Prenzlauer Berg Südwest
{'neighbourhood': 'Prenzlauer Berg Südwest', 'neighbourhood_group': 'Pankow'}
found neighbourhood!
Schöneberg-Nord
{'neighbourhood': 'Schöneberg-Nord', 'neighbourhood_group': 'Tempelhof - Schöneberg'}
found neighbourhood!
Frankfurter Allee Süd FK
{'neighbourhood': 'Frankfurter Allee Süd FK', 'neighbourhood_group': 'Friedrichshain-Kreuzberg'}
found neighbourhood!
Helmholtzplatz
{'neighbourhood': 'Helmholtzplatz', 'neighbourhood_group': 'Pankow'}

In [31]:
sample[["latitude", "longitude", "neighbourhood"]]

   latitude  longitude    neighbourhood
0  52.54425   13.39749          Wedding
1  52.53500   13.41758  Prenzlauer Berg
2  52.49885   13.34906       Schöneberg
3  52.51171   13.45477   Friedrichshain
4  52.54316   13.41509  Prenzlauer Berg

Neukölln           3537
Prenzlauer Berg    3142
Kreuzberg          2930
Friedrichshain     2908
Mitte              2293
                   ...
Konradshöhe           4
Gatow                 4
Falkenberg            3
Lübars                2
Wartenberg            2
Name: neighbourhood, Length: 92, dtype: int64